global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-bind-options no-sslv3 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend http_front
    bind *:80
    mode http
    default_backend http_back

frontend https_front
    bind *:443
    mode tcp
    default_backend https_back

frontend k8s_front
    bind *:6443
    mode tcp
    default_backend k8s_back

backend http_back
    mode http
    balance roundrobin
    {% for node in k8s_nodes %}
    server {{ node.name }} {{ node.ip }}:80 check
    {% endfor %}

backend https_back
    mode tcp
    balance roundrobin
    {% for node in k8s_nodes %}
    server {{ node.name }} {{ node.ip }}:443 check
    {% endfor %}

backend k8s_back
    mode tcp
    balance roundrobin
    {% for node in k8s_control_plane %}
    server {{ node.name }} {{ node.ip }}:16443 check
    {% endfor %}
