# Default launch configuration for MicroK8s.
---
version: 0.1.0
extraKubeletArgs:
  --cluster-domain: cluster.local
  --cluster-cidr: {{ pod_network_cidr }}
  --service-cidr: {{ service_network_cidr }}
  --cluster-dns: {{ dns_ip }}
{% if enable_extra_certs %}
---
version: 0.1.0
extraApiServerArgs:
  --apiserver-cert-extra-sans={{ load_balancer_ip }},{{ load_balancer_dns }}
{% endif %}
---
version: 0.1.0
addons:
  - name: dns
  {% if enable_kube_ovn %}
  - name: kube-ovn
    args: [--force]
  {% endif %}
