# Launch configuration for MicroK8s.
---
version: 0.2.0
extraCNIEnv:
  IPv4_CLUSTER_CIDR: "{{ initial_setup_pod_network_cidr }}"
  IPv4_SERVICE_CIDR: "{{ initial_setup_service_network_cidr }}"
extraSANs:
  - {{ initial_setup_load_balancer_ip }}
  - {{ initial_setup_load_balancer_dns }}
  - {{ initial_setup_service_api_kubernetes }}
addons:
  - name: dns