---
- name: Instalaci贸n y configuraci贸n de paquetes esenciales.
  include_tasks: basic.yml

- name: Instalaci贸n y configuraci贸n necesaria para microk8s.
  include_tasks: microk8s.yml
  when: "'cluster_microk8s' in group_names"